.itemCard{
  width: 30%;
}

.cardContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  align-content: space-around;
  flex-wrap: wrap;
}

.cards{
  margin: 5%;
  width: 30%;
}

.images{
  height: 10%;
}

.productPage{
  padding-top: 60px;
}

.navPushDown{
  padding-bottom: 3%;
}

.cartCardContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-content: space-around;
  flex-wrap: wrap;
}

.cartCards{
  margin-top: 1%;
}

/* .checkoutBtn{
  margin-left: 10%;
} */